{% extends "layout.html" %}
{% block title %}Consultas{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Crear una consulta</h1>
  <form action="{{ url_for('create_issue') }}" method="POST">
    <input name="email" placeholder="Correo"/>
    <textarea name="description" placeholder="Descripción"></textarea>
    <select name='category_id'>
      <option value='1'>uno</option>
    </select>
    <select name='status_id'>
      <option value='1'>uno</option>
    </select>
    <input type="submit" value="Crear">
  </form>
{% endblock %}
